// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-tasks, .completed {
  display: flex;
  justify-content: start;
  align-items: center;
}

ul {
  list-style-type: none;
}

#task-details, .edit-task {
  background-color: rgba(240, 240, 240, 0.8);
  border: 1px solid black;
  padding: 5px 5px;
  border-radius: 4px;
  font-weight: lighter;
}

.edit-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
